<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- ●com.syntis.mapper 此package下的檔案，類似dao● -->
<mapper namespace="com.syntis.mapper.CoreItemMapper">
	<!-- <![CDATA[ ＳＱＬ語句 ]]> 指的是不應由 XML 解析器進行解析的文本数据 -->
	<select id="queryCoreItem" parameterType="com.syntis.bean.CoreItem"
		resultType="com.syntis.bean.CoreItem">
		<![CDATA[ SELECT 
		SYSID as sysid, OPERATOR as operator, OPERATIONDATE as operationdate,CREATOR as creator,CREATIONDATE as creationdate,REMARK as remark,
		ITEM_ID as dataId, ITEM_NAME as name,SPECIFICATION as specification,ITEM_TYPE_SYSID as itemTypeSysid
		FROM core_item ]]>
	</select>
	<resultMap type="java.util.HashMap" id="getItemTypeAndCount">
		<result column="itemTypeName" property="itemTypeName" jdbcType="VARCHAR"
			javaType="String" />
		<result column="count" property="count" jdbcType="INTEGER"
			javaType="Integer" />
	</resultMap>
	<select id="queryTypeCount" resultMap="getItemTypeAndCount">
	<![CDATA[  SELECT TYPE.ITEM_TYPE_NAME AS itemTypeName , COUNT(*) AS count
					FROM CORE_ITEM AS ITEM 
					LEFT JOIN CORE_ITEM_TYPE AS TYPE 
					ON ITEM.ITEM_TYPE_SYSID = TYPE.SYSID 
					GROUP BY ITEM.ITEM_TYPE_SYSID ]]>
	</select>
<!-- SELECT 
    item.SYSID, item.ITEM_NAME as itemName, bsoi.QUANTITY as q, bsoi.UNIT_PRICE as price ,(select q*price) as amt
FROM
    CORE_ITEM AS ITEM
        LEFT JOIN
    bill_sales_order_item AS bsoi ON ITEM.SYSID = bsoi.ITEM_SYSID
where bsoi.CREATIONDATE like '%2014/03/07%' -->
</mapper>
