body {
  background-color:  #21283c;
  margin: 0px;
  padding: 0px;
  height: 0px;
  overflow-x: hidden;
  justify-content: center;
}
body::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(124, 124, 124, 0.534);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #FC70AF;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #FC70AF;  /* creates padding around scroll thumb */
}
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top {
  background-color: #283149;
  width: 100vw;
  height: 110px;
  top: 0px;
  position: sticky;
  z-index: 5;

}
.left {
  left: 10px;
}
.up {
  background-color: transparent;
  border: none;
  float: right;
  padding: 20px;
  position: sticky;
  bottom: auto;
}
.up ion-icon {
  background-color: white;
  border-radius: 75px;
  font-size: 4rem;
}
.logo {
  padding: 20px;
  left: 0px;
  position: relative;
  height: 8vh;
  max-height: 65px;
  min-height: 50px;;

}
.right {
  right: 0px;
  float: right;
  padding: 15px;
  position: absolute;
  top: 6px;
}
.right button {
  background-color: transparent;
  color: white;
  border: none;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.55rem;
  padding: 15px;
  width: 150px;
  font-weight: bolder;
}
.right button:hover {
  border-bottom: #FC70AF solid 2px;
}
.center {
background-image: url(/assets/jpg/center.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
-webkit-filter: blur(5px);
height: 700px;
}
h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
  justify-content: center;
  justify-self: center;
  text-align: center;
  font-size: 3.75rem;
  padding-top: 350px;
  z-index: 1;
  position: relative;
  top: -800px;
}
.about-us {
  background-color: #ffffff;
  height: 850px;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100vw;
  top: -400px;
  position: relative;
  padding-bottom: 80px;
}
.about-us h2 {
  padding: 40px;
  text-align: center;
  color:#21283c;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.about-us p {
  text-align: center;
  justify-content: center;
  position: relative;
}
.row {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
}
.items {
  background-color:#283149;
  height: 250px;
  border-radius: 25px;
  border: 10px solid #21283c;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.items:hover {
  background-color: #374365;
}
.team {
  position: relative;
  width: 100vw;
  height: fit-content;
  top: -600px;
  padding: auto;
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-align: center;
}
.team h2 {
  font-size: 2rem;
  padding: 40px;
}
a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  padding-bottom: 100px;
}
.grid-item {
  background-color:#283149;
  justify-content: center;
  border-radius: 25px;
  border: 0px solid #21283c;
  padding: 25px;
  min-height: 500px;
  height: fit-content;
  font-size: 30px;
  text-align: left;
  border-left: #ffffff  10px;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s e;
}
.grid-item:hover {
  background-color:#303b5b;
}
.grid-item button {
  color: white;
  position: relative;
  height: 50px;
  width: 50px;
  right: 290px;
  background-color: transparent;
  font-size: 1.25rem;

  background-color: #283149;
  background-image: url(/assets/svg/chevron-down.svg);
}

.footer {
  background-color:#374365;
  height: 150px;
  width: 100vw;
  position: relative;
  bottom: -1400px;
  z-index: 1;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.smallTxt {
  padding-top: 90px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1rem;
  text-align: left;
}
.founder {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.25rem;
}
ion-icon {
  letter-spacing: 15px;
  color: #FC70AF;
  font-size: 2.5rem;
  padding: 2px;
  border-radius: 10px;
  background-color: #fc70af73;
  
}
.grid-item img {
 width: 40%;
 left: -50px;
 height: 0%;
 border-radius: 75px;
 position: relative;
 justify-content: left;
}
.grid-item p {
  font-size: 1.3rem;
}
.careers {
  background-color: #374365;
  height: fit-content;
  min-height: 1100px;
  max-height: 00px;
  position: relative;
  top: 0px;
  padding-top: 0px;
  padding: 40px;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.careers p {
  font-size: 1.55rem;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: absolute;
  top: 950px;
}
.careers img {
  height: 20%;;
  position: relative;
  padding: 0px;
  margin: 0px;
  width: auto;
  justify-content: center;
}



.footer p {
  color: #21283c;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.footer a:hover {
  color: #FC70AF;
}

.image-container {
  position: relative;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
  padding: 15px;
  height: 50px;
}
.image-container img {
  width: fit-content;
  border-left: #ffffff  10px;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
.mobile {
  display: none;
  background-color: transparent;
  right: 0px;
  float: right;
  padding: 15px;
  position: fixed;
  top: 10px;
}
.mobile button {
  background-color: transparent;
  border: none;
  padding: auto;
}
.mobile ion-icon {
  font-size: 2rem;
  background-color: transparent;
}
.dropdown a {
  text-decoration: none;
}
@media only screen and (max-width: 980px) {
  .right button {
    display: none;
  }
  .mobile {
    display: block;
  }
  .grid-container {
    grid-template-columns: auto;
    padding: 50px;
  }
  .careers {
    height: 1800px;
  }
  .image-container {
    grid-template-columns: auto;
  }
  .career2 {
    display: none;
  }
  .about-us img {
    width: 650px;
  }
}
.grid-item button {
  background-color:#283149;
  border: none;
  position: relative;
  bottom: -190px;
  left: -10px;

}
.grid-item button:hover {

}
.grid-item ion-icon {
  background-color: transparent;
  color: white;
}
.bio {
  position: relative;
  bottom: -320px;
  font-size: 1.25rem;
}
.about-txt {
  position: relative;
  color:#283149;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-align: center;
  padding: 40px;
  font-size: 1.5rem;
  top: -600px;
}

.typed-cursor {
  color: #FC70AF;
  width: 2px;
}
svg:hover {
  background-color: #303b5b;
}