body {
  background-color:  #21283c;
  margin: 0px;
  padding: 0px;
  height: 200px;
  overflow-x: hidden;
  justify-content: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
}

button {
  outline: none;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top {
  background-color: #283149;
  width: 100vw;
  height: 110px;
  top: 0px;
  position: sticky;
  z-index: 5;

}
.topTxt {
  color:#ffffff;
  font-weight: bold;
  top: -900px;
  position: relative;
  font-size: 5rem;
}
.left {
  left: 10px;
}
.up {
  background-color: transparent;
  border: none;
  float: right;
  padding: 20px;
  position: sticky;
  bottom: auto;
}
.up ion-icon {
  background-color: white;
  border-radius: 75px;
  font-size: 4rem;
}
.logo {
  padding: 20px;
  left: 0px;
  position: relative;
  height: 8vh;
  max-height: 75px;
  min-height: 50px;;

}
.right {
  right: 0px;
  float: right;
  padding: 15px;
  position: absolute;
  top: 6px;
}
.right button {
  background-color: transparent;
  color: white;
  border: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.2rem;
  padding: 20px;
  width: 150px;
  font-weight: bolder;
}
.right button:hover {
  border-bottom: #FC70AF solid 2px;
}
.center {
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #283149, #FC70AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #283149, #FC70AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 750px;
}
h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
  justify-content: center;
  justify-self: center;
  text-align: center;
  font-size: 3.75rem;
  padding-top: 350px;
  z-index: 1;
  position: relative;
  top: -800px;
}
.about-us {
  background-color: #ffffff;
  height: 850px;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100vw;
  top: -700px;
  position: relative;
  padding-bottom: 80px;
}
.about-us h2 {
  padding: 40px;
  text-align: center;
  color:#21283c;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.about-us p {
  text-align: center;
  justify-content: center;
  position: relative;
}
.row {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
}
.items {
  background-color:#283149;
  height: 250px;
  border-radius: 25px;
  border: 10px solid #21283c;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.items:hover {
  background-color: #374365;
}
.team {
  position: relative;
  width: 100vw;
  height: fit-content;
  top: -850px;
  padding: auto;
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-align: center;
}
.team h2 {
  font-size: 2rem;
  padding: 40px;
}
a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 10px;
  padding-bottom: 100px;
}
.grid-item {
  background-color:#283149;
  justify-content: center;
  border-radius: 25px;
  border: 0px solid #21283c;
  padding: 25px;
  min-height: 500px;
  height: fit-content;
  font-size: 30px;
  text-align: left;
  border-left: #ffffff  10px;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s e;
}
.grid-item:hover {
  background-color:#303b5b;
}
.grid-item button {
  color: white;
  position: relative;
  height: 40px;
  width: 40px;
  right: 290px;
  background-color: transparent;
  font-size: 1.25rem;
  background-color: #283149;
  background-image: url(/assets/svg/add.svg);
}

.footer {
  background-color:#374365;
  height: 250px;
  width: 100vw;
  position: relative;
  bottom: -400px;
  z-index: 1;
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto auto;
}

.smallTxt {
  padding-top: 90px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1rem;
  text-align: left;
  display: none;
}
.founder {
  font-family: 'Didact Gothic', sans-serif;
  font-size: .3rem;
}
ion-icon {
  letter-spacing: 15px;
  color: #FC70AF;
  font-size: 2.5rem;
  padding: 2px;
  border-radius: 10px;
  background-color: #fc70af73;
  
}
.grid-item img {
 width: 40%;
 left: -50px;
 height: 0%;
 border-radius: 75px;
 position: relative;
 justify-content: left;
}
.grid-item p {
  font-size: 1.3rem;
}
.careers {
  background-color: #374365;
  height: fit-content;
  min-height: 1100px;
  max-height: 00px;
  position: relative;
  top: -100px;
  padding-top: 0px;
  padding: 40px;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.careers p {
  font-size: 1.25rem;
  text-align: center;
  margin: auto;
  padding: 20px;
  position: relative;
  top: 750px;
}
.careers img {
  height: 20%;;
  position: relative;
  padding: 0px;
  margin: 0px;
  width: auto;
  justify-content: center;
}



.footer p {
  font-size: 1.1rem;
  color: #21283c;
  justify-content: center;
  text-align: center;
  padding-top: 90px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.footer a:hover {
  color: #FC70AF;
}

.image-container {
  position: relative;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
  padding: 15px;
  height: 50px;
}
.image-container img {
  width: fit-content;
  border-left: #ffffff  10px;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
.mobile {
  display: none;
  background-color: transparent;
  right: 0px;
  float: right;
  padding: 15px;
  position: absolute;
  top: 10px;
}
.mobile button {
  background-color: transparent;
  border: none;
  padding: auto;
  padding-top: 5px;
}
.mobile ion-icon {
  font-size: 1.7rem;
  background-color: transparent;
}
.dropdown a {
  text-decoration: none;
}
@media only screen and (max-width: 980px) {
  .about-us img {
    width: 320px;
    position: relative;
    height: 280px;
    left: -10px;
  }
  .global {
    left: -20px;
    position: relative;
  }
  .about-txt {
    padding: 0px;
    top: -100px;
  }
  .careers p {
    padding-top: 0px;
  }
  body {
    overflow-x:hidden;
  }
  .left {
    width: 100%;
  }
  .logo {
    width: 40%;
  }
  .right button {
    display: none;
  }
  .mobile {
    display: block;
  }
  .grid-container {
    grid-template-columns: auto;
    padding: 50px;
    height: 150px;
  }
  .careers {
    position: relative;
    height: fit-content;
    top: 900px;
  }

  .image-container {
    grid-template-columns: auto;
  }
  .image-container img{
    position: relative;
    width: 100vw;
    height: 40vh;
    padding: 10px;
  }
  .career2 {
    display: none;
  }
  .about-txt {
    background-color: white;
    padding: 0px;
  }
  .footer {
    top: 1900px;
    padding-top: 40px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
  }
  .footer p {
    margin: 0px;
    padding: 0px;
  }
  .careers {
    top:1500px;
    padding-bottom: 0px;
  }
  .careers p {
    top: 350px;
  }

  .partners {
    top: 900px;
    display: flex;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}
.grid-item button {
  background-color:#283149;
  border: none;
  position: relative;
  bottom: -190px;
  left: -10px;
  cursor: pointer;
}

.grid-item ion-icon {
  background-color: transparent;
  color: white;
}
.bio {
  position: relative;
  bottom: -320px;
  font-size: 1.25rem;
}
.about-txt {
  position: relative;
  color:#283149;
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-align: center;
  padding: 40px;
  font-size: 1.2rem;
  top: -950px;
}

.typed-cursor {
  color: #FC70AF;
  width: 2px;
}
svg:hover {
  background-color: #303b5b;
}
.partnerShips {
  position: relative;

}

.partners {
  display: grid;
  padding: 100px;
  height: fit-content;
  background-color: #374365;
  position: relative;
  grid-template-columns: auto ;
  grid-template-rows: auto auto auto auto;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  place-items: center;
  top: -290px;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  box-shadow: 20px 20px rgba(0,0,0,.15);
}
.partners img {
  padding: 16px;
  position: relative;
  height: auto;
  width: 400px;
  filter: drop-shadow(0px 10px 3px black);
}
#partnersText {
  position: relative;
  top: -350px;
  font-size: 2rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
#apply {
  position: relative;
  background-color: #FC70AF;
  padding: 8px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  top: 740px;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
}
.applications {
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 60px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content:center ;
  position: relative;
  padding: 16px;
  text-align: center;
  height: fit-content;
}
.apps {
  position: relative;
  height: 15px;
  width: fit-content;
  padding: 16px;

}
.apps h1 {
  font-size: 2rem;
}
.apps a {
  background-color: #FC70AF;
  padding: 16px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  position: relative;
  font-size: 1rem;
}
#back {
  background-color: #FC70AF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  padding: 16px;
  top: 30px;
  position: relative;
  left: 10px;
  box-shadow: 20px 20px 10px 10px rgba(0,0,0,.15);
  border-radius: 25px;
}